@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popUp {
    0% {
        transform: scale(0);
        border-radius: 9999px;
        aspect-ratio: 1/1;
    }
    99% {
        border-radius: 9999px;
        aspect-ratio: 1/1;
    }
    100% {
        transform: scale(1);
        border-radius: 0;
        aspect-ratio: auto;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: #00000080;
}
::-webkit-scrollbar-track {
    background-color: #00000090;
}
